<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>AlgaWorks</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div class="aw-layout-loading  js-loading-overlay">
	<div class="aw-layout-loading__container">
		<span class="aw-balls-spinner">Carregando...</span>
	</div>
</div>

<div class="aw-layout-page">

	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand  hidden-xs" href="#">
	        <img alt="AlgaWorks" th:src="@{/layout/images/logo.png}"/>
	      </a>

	      <ul class="nav  navbar-nav">
	        <li>
	          <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
	        </li>
	      </ul>
	    </div>

	    <ul class="nav navbar-nav  navbar-right">
	      <li>
	        <a href="#"><em class="fa  fa-sign-out"></em></a>
	      </li> 
	    </ul>

	  </div>
	</nav>

	<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">

    <nav class="aw-menu  js-menu">
      <ul class="aw-menu__list">

        <li class="aw-menu__item  is-active">
          <a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Cadastro vinho</span></a>
        </li>
        
        <li class="aw-menu__item">
          <a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Pesquisa vinho</span></a>
        </li>

      </ul>
    </nav>

		</div>
	</aside>

	<section class="aw-layout-content  js-content">


<div class="page-header">
	<div class="container-fluid">
		<h1>
			Cadastro de Vinho
		</h1>
	</div>
</div>

<div class="container-fluid">

	<form method="POST" class="form-vertical  js-form-loading" th:object="${vinho}">
		<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<th:block th:each="error : ${#fields.detailedErrors()}">
				<div>
					<i class="fa  fa-exclamation-circle"></i>
					<span th:text="${error.message}"></span>
				</div>
			</th:block>
		</div>
		
		<div class="form-group">
			<label for="nome">Nome</label>
			<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="tipo">Tipo</label>
					<select id="tipo" class="form-control" th:field="*{tipo}">
						<option value="">Selecione o tipo</option>
						<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="#{|tipoVinho.${tipo}|}"></option>
					</select>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="form-group">
					<label for="valor">Valor</label>
					<input id="valor" type="text" class="form-control  js-moeda" th:field="*{valor}"/>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Salvar</button>
		</div>

	</form>
</div>

</section>
	
	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2016 AlgaWorks. Todos os direitos reservados.</span>
		</div>
	</footer>

</div>

<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>

<script th:src="@{/javascripts/vendors/jquery.masknumber.min.js}"></script>
<script>
	$('.js-moeda').maskNumber({
		decimal: ',',
		thousands: '.'
	});
</script>

</body>
</html>